*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

html, body {
  -ms-content-zooming: none;
  height: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-ms-viewport { width: device-width; }


.l10{ position:absolute; left: 0; width: 10%; top: 0; bottom: 0;}
.l20{ position:absolute; left: 0; width: 20%; top: 0; bottom: 0;}
.l30{ position:absolute; left: 0; width: 30%; top: 0; bottom: 0;}
.l40{ position:absolute; left: 0; width: 40%; top: 0; bottom: 0;}
.l50{ position:absolute; left: 0; width: 50%; top: 0; bottom: 0;}
.l60{ position:absolute; left: 0; width: 60%; top: 0; bottom: 0;}
.l70{ position:absolute; left: 0; width: 70%; top: 0; bottom: 0;}
.l80{ position:absolute; left: 0; width: 80%; top: 0; bottom: 0;}
.l90{ position:absolute; left: 0; width: 90%; top: 0; bottom: 0;}

.full{ position:absolute; left: 0; width: 100%; top: 0; bottom: 0;}

.r10{ position:absolute; right: 0; width: 10%; top: 0; bottom: 0;}
.r20{ position:absolute; right: 0; width: 20%; top: 0; bottom: 0;}
.r30{ position:absolute; right: 0; width: 30%; top: 0; bottom: 0;}
.r40{ position:absolute; right: 0; width: 40%; top: 0; bottom: 0;}
.r50{ position:absolute; right: 0; width: 50%; top: 0; bottom: 0;}
.r60{ position:absolute; right: 0; width: 60%; top: 0; bottom: 0;}
.r70{ position:absolute; right: 0; width: 70%; top: 0; bottom: 0;}
.r80{ position:absolute; right: 0; width: 80%; top: 0; bottom: 0;}
.r90{ position:absolute; right: 0; width: 90%; top: 0; bottom: 0;}


#modal{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;
}

#modalHeader{
  z-index: 20;
}

#modalContent{
  position:absolute;
  overflow: auto;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
}

#modalFooter{
  z-index: 20;
  position: absolute;
  left: 0;
  bottom :0;
  right: 0;
}

#modalInside{
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  position: absolute;
  top: 20%; left: 30%; right: 30%; bottom: 20%;
  padding: 20px;
  color: black;
  text-align: center;
}

#modalContent .promptInput{
  text-align: center;
  font-size: 16px;
  width: 20em;
  padding: 1em;
  height:16px;
  border: 1px solid #ddd;
  margin: 10px auto;
}

#modalFooter .cancelButton{
  width: 10em;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: white;
  background-color: #933;
  cursor: pointer;
}

#modalFooter .doneButton{
  width: 10em;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: white;
  background-color: #393;
  cursor: pointer;
}

#modalContent .numButton{
  font-size: 15px;
  width: 3em;
  height: 1.5em;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
  font-weight: 600;
  color: #333;
  background-color: white;
  cursor: pointer;
}

#appWrapper{
  overflow: hidden;
  position: absolute;
  /*top: 0%; left: 0%; right: 0%; bottom: 0%;*/
  /*top: 2%; left: 2%; right: 2%; bottom: 2%;*/
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,.5); 
  position:relative;
  margin: 0 auto;
  margin-top: -300px;
  top: 50%;
  width: 800px;
  height: 600px;
}

#header{
  position: absolute;
  top :0;
  height: 40px;
  left: 0;
  right: 0;
  background-color: #222;
  background-image: linear-gradient(to bottom, #383 0%, #055 100%);
  color: white;
  /*box-shadow: inset 0 0 15px rgba(0,0,0,.6);*/
}

#header h1{
  line-height: 1;
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0,0,0,.5);
  margin :0;
  padding: 5px;
  font-weight: 300;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 500px;
}

#header .controls{
  position: absolute;
  left: 500px;
  background-color: #eee;
  right: 0;
  top: 0; bottom: 0;
}

#header .controls div{
  padding: 1em;
  background-color: #339;
  border-left: 1px solid #228;
  border-right: 1px solid #228;
  display: inline-block;
  height: 100%;
}

#content{
  background-color: #999;
  position:absolute;
  box-shadow: inset 0 0 25px rgba(0,0,0,.5);
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer{
}

body{
 -ms-touch-action: none !important;
  font-family: "Open Sans", sans-serif;
  background-color: #eee; 
  background-image: radial-gradient(circle at 50% 50%, rgb(100, 100, 100), rgb(0, 0, 0));
  font-size: 10px;
  color: #eee;
  overflow: hidden;
}

.contentView{
  overflow-x: hidden;
  overflow-y: auto; 
  -ms-overflow-style: -ms-autohiding-scrollbar;
  display: none;
  position: absolute;
  top:0; left: 0; right: 0; bottom: 0;
}

#dataPanel{
  padding-top: 1em;
}

.controlbar{
  overflow-y: auto; 
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  /*box-shadow: inset 0 0 15px rgba(0,0,0,.6);*/
}

.controlbar h2{
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.8em;
  background-image: linear-gradient(to bottom, #888 0%, #555 100%);
  color: white;
}

.controlbar h3{
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0,0,0,.5);
}

#sidebar{
  overflow-y: auto; 
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  width: 200px;
  left: 100px;
  top: 0;
  bottom: 0;
  background-color: #224767;
}

#mainView{
  background-color: #333;
  position: absolute;
  height: 100%;
  left: 0px;
  right:0;
  top: 0%;
}

#sidebar h2{
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.8em;
  //border-bottom: 1px solid rgba(255,255,255,0.5);
  //background-color: #1B4B2D;
  background: linear-gradient(to bottom, #1B3D50 0%, #173145 100%);
  color: white;
  margin-bottom: 10px;
}

#sidebar h3{
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0,0,0,.5);
  margin-bottom: 0.5em;
}

#sidebarContent strong{
  margin-left: 10px;
}

#sidebarContent span{
  font-size: 13px;
  text-align: right;
  display: inline-block;
  font-weight: 600;
  color: #a33;
  width: 30px;
}

#sidebar ul{
  list-style: none;
  display: block;
  margin: 10px;
  color: #555;
}

#sidebar ul li{
  padding: 0.5em;
  background-color: white;
  border-bottom: 1px solid rgba(200,200,200,0.7);
}

#sidebar ul li:first-child:last-child{
  border-radius: 5px;
}


#sidebar ul li:first-child{
  border-radius: 5px 5px 0 0;
}

#sidebar ul li:last-child{
  border: none;
  border-radius: 0 0 5px 5px;
}

#sidebar ul li:hover{
  cursor: pointer;
  background-color: #eee;
}

#debugDelete{
  background-color: #822;
}

#exportData,
#exportDataWithPrice{
  background-color: #282;
}

#exportData:hover,
#exportDataWithPrice:hover{
  background-color: #393;
}

.btn{
  text-align: center;
  border-radius: 10px;
  margin: 7px 4px;
  padding: 7px 4px;
  font-size: 9px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: white;
  background-color: #666;
  cursor: pointer;
}

.ilnbtn{
  display: inline-block;
  text-align: center;
  font-size: 10px;
  border-radius: 10px;
  margin: 10px 5px;
  padding: 10px 5px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: white;
  background-color: #666;
  cursor: pointer;
  vertical-align: center;
}

.btn:hover{
  background-color: #555;
}

.controlGroup{
  padding: 0.5em 0.2em;
  border-bottom: 1px solid #999;
}

.controlGroup:last-child{
  border: none;
}

#deleteData{
  background-color: #933;
}

#inputClaimDetail input{
  font-size: 16px;
  padding: 0.5em;    
}

.hero{
  font-size: 3em;
  border-radius: 10px;
  background-color: #eee;
  color: #333;
  margin: 25px;
  padding: 20px;
}

.hero .btn{
  font-size: 1em;
}

.hero .controlGroup .btn{
  font-size: 14px;
}

#main h2{
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.8em;
  background: linear-gradient(to bottom, rgba(200,200,200,1) 0%,rgba(166,166,166,1) 100%);
  color: white;
}

#main h3{
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.8em;
  background: linear-gradient(to bottom, rgba(200,200,200,1) 0%,rgba(166,166,166,1) 100%);
  color: white;
  // text-align: center;
}

#mainSide{
  overflow-x: hidden;
  overflow-y: auto; 
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  left: 0;
  top: 38px;
  height: 162px;
  right: 0;
  background-color: rgb(96,96,96);
}

#mainSide h3{
  background: linear-gradient(to bottom, rgba(130,130,130,1) 0%,rgba(96,96,96,1) 100%);
}

#mainSideItems{
  padding: 0 2em;
}

#mainSideItems a{
  position:relative;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  display: block;
  float: left;
  margin: 0 0.5em 0.5em 0;
  text-overflow: ellipsis;
  overflow:hidden;
  padding: 0.5em 1em;
  //border: 1px solid #ddd;
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 1em;
  color: #333;
  box-shadow: 0 0 5px rgba(0,0,0,.5);

/*  text-align: center;
  cursor: pointer;
  color: black;
  display: block;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: #eee;*/
}

#mainSideItems a.selected{
  color: orange;
}

#mainContent{
  overflow-x: hidden;
  overflow-y: auto; 
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  bottom :0;
}

#mainContentItems .items{
  /*border-radius: 10px;
  background-color: #eee;
  margin: 25px; */
  padding: 20px;
  color: #333;
}

#mainContentItems .items a{
	position:relative;
	font-weight: 600;
	//text-align: center;
	font-size: 16px;
	display: inline-table;
	margin: 0 0.5em 0.5em 0;
	width: 10em;
	height: 4em;
	//overflow:hidden;
	padding: 0.5em;
	background-color: #fafafa;
	cursor: pointer;
	border-radius: 1em;
	vertical-align: middle;
}

#mainContentItems .items a:hover{
	background-color: #eee;
}

#mainContentItems .items a.describeButton{
  background-color: #9aa;
  color: white;
}

#mainContentItems .items a.describeButton:hover{
  background-color: #899;
  color: white;
}

#mainContentItems .items a p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#claimList{
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
  height: 100px;
  overflow: auto;
}

#claimList div{
  padding: 0.5em;
  background-color: #ddd;
  color: #333;
  margin: 5px;
  border-radius: 10px;
}

#roomList div{
  text-align: center;
  font-size: 10px;
  padding: 0.5em;
  background-color: #ddd;
  color: #333;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#roomList div.selected{
  background-color: #ee9;
  font-weight: bolder;
}

.claimButton{
  font-size: 10px;
  padding: 1em;
  background-color: #ddd;
  color: #333;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}