*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

html, body {
  -ms-content-zooming: none;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-ms-viewport { width: device-width; }

body{
   background-image: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png');
}

#modal{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;
}

#modalContent{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  position: absolute;
  top: 20%; left: 30%; right: 30%; bottom: 25%;
  padding: 20px;
  color: black;
  text-align: center;
}

#modalContent input{
  display: block;
  font-size: 16px;
  width: 20em;
  padding: 1em;
  border: 1px solid #ddd;
  margin: 10px auto;
}

#modalContent .cancelButton{
  width: 10em;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: white;
  background-color: #933;
  cursor: pointer;
}

#modalContent .doneButton{
  width: 10em;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: white;
  background-color: #393;
  cursor: pointer;
}

#modalContent .numButton{
  width: 3em;
  height: 1.5em;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  color: #333;
  background-color: white;
  cursor: pointer;
}


#appWrapper{
  overflow: hidden;
  position: absolute;
  /*top: 2%; left: 2%; right: 2%; bottom: 2%;*/
  /*border-radius: 15px;*/
  /*box-shadow: 0 0 15px rgba(0,0,0,.5); */
  width: 1366px;
  height: 786px;
}

#debug{
  background-color: #3D6172;
  position:absolute;
  height: 100%;
  width: 450px;
  right: 0;
  overflow: auto;
  display: none;
}

#debug h2{
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.8em;
  //border-bottom: 1px solid rgba(255,255,255,0.5);
  //background-color: #1B4B2D;
  background: linear-gradient(to bottom, #1B3D50 0%, #173145 100%);
  color: white;
}

#debugData{
  padding: 10px;
}


body{
 -ms-touch-action: none !important;
  font-family: "Open Sans", sans-serif;
  background-color: #333;
  font-size: 10px;
  color: #eee;
  overflow: hidden;
}

#left{
  background-color: #3D6172;
  width: 100px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 800px) {
  #sidebar{
    overflow-y: auto; 
    -ms-overflow-style: -ms-autohiding-scrollbar;
    position: absolute;
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #224767;
  }

  #main{
    background-color: #eee;
    background-image: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/whitey.png');
    position: absolute;
    height: 100%;
    left:250px;
    right:0;
    top: 0%;
  }
}

@media screen and (max-width: 799px) {
  #sidebar{
    overflow-y: auto; 
    -ms-overflow-style: -ms-autohiding-scrollbar;
    position: absolute;
    height: 20%;
    left: 0;
    top: 0;
    right: 0;
    background-color: #224767;
  }

  #main{
    background-color: #eee;  
    background-image: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/whitey.png');
    position: absolute;
    height: 100%;
    left: 0;
    right:0;
    top: 20%;
    bottom: 0;
  }
}

#sidebar h2{
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.8em;
  //border-bottom: 1px solid rgba(255,255,255,0.5);
  //background-color: #1B4B2D;
  background: linear-gradient(to bottom, #1B3D50 0%, #173145 100%);
  color: white;
}

#sidebar ul{
  list-style: none;
  display: block;
  // border-radius: 5px;
  // border: 1px solid black;
  //background-color: white;
  margin: 10px;
  color: #999;
}

#sidebar ul li{
  padding: 1em;
  background-color: white;
  border-bottom: 1px solid rgba(200,200,200,0.7);
}

#sidebar ul li:first-child:last-child{
  border-radius: 5px;
}


#sidebar ul li:first-child{
  border-radius: 5px 5px 0 0;
}

#sidebar ul li:last-child{
  border: none;
  border-radius: 0 0 5px 5px;
}

#sidebar ul li:hover{
  cursor: pointer;
  background-color: #eee;
}

#deleteLast{
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #e33;
  cursor: pointer;
}

#deleteLast strong{
 text-transform: uppercase;
}

#exportData{
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: white;
  background-color: #393;
  cursor: pointer;
}

#lastItem{
  font-size: 14px;
  text-align: center;
  //border-radius: 10px;
  //margin: 10px;
  padding: 10px;
  //color: #333;
  //background-color: #eee;
}

#inputClaimDetail input{
  font-size: 16px;
  padding: 0.5em;    
}

.hero{
  font-size: 3em;
  border-radius: 10px;
  background-color: #eee;
  color: #333;
  margin: 25px;
  padding: 20px;
}

#main h2{
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.8em;
  height: 40px;
  background: linear-gradient(to bottom, rgba(200,200,200,1) 0%,rgba(166,166,166,1) 100%);
  color: white;
}

#main h3{
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.8em;
  background: linear-gradient(to bottom, rgba(200,200,200,1) 0%,rgba(166,166,166,1) 100%);
  color: white;
  // text-align: center;
}

#mainSide{
  overflow-x: hidden;
  overflow-y: auto; 
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  left: 0;
  top: 40px;
  height: 160px;
  right: 0;
  background-color: rgb(96,96,96);
}

#mainSide h3{
  background: linear-gradient(to bottom, rgba(130,130,130,1) 0%,rgba(96,96,96,1) 100%);
}

#mainSideItems{
  padding: 0 2em;
}

#mainSideItems a{
  position:relative;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  display: block;
  float: left;
  margin: 0 0.5em 0.5em 0;
  text-overflow: ellipsis;
  overflow:hidden;
  padding: 0.5em 1em;
  //border: 1px solid #ddd;
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 1em;
  color: #333;
  box-shadow: 0 0 5px rgba(0,0,0,.5);

/*  text-align: center;
  cursor: pointer;
  color: black;
  display: block;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: #eee;*/
}

#mainSideItems a.selected{
  color: orange;
}

#mainContent{
  overflow-x: hidden;
  overflow-y: auto; 
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  bottom :0;
}

#mainContentItems .items{
  /*border-radius: 10px;
  background-color: #eee;
  margin: 25px; */
  padding: 20px;
  color: #333;
}

#mainContentItems .items a{
	position:relative;
	font-weight: 600;
	//text-align: center;
	font-size: 16px;
	display: inline-table;
	margin: 0 0.5em 0.5em 0;
	width: 10em;
	height: 4em;
	//overflow:hidden;
	padding: 0.5em;
	background-color: #fafafa;
	cursor: pointer;
	border-radius: 1em;
	vertical-align: middle;
}

#mainContentItems .items a:hover{
	background-color: #eee;
}

#mainContentItems .items a p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}